<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        
        <div id="app">
            <v-app :dark="true">
                    
                        <v-container  grid-list-md  fill-height>
                            <v-layout row wrap align-center text-md-center action>
                                <v-flex xs12><div id="titre">{{ message1 }}</div></v-flex>
                                <v-flex xs12><div id="titre2">{{ message2 }}</div></v-flex>
                                <v-flex xs12><img id="titre3" src="loader.gif" ></v-flex>
                            </v-layout>
                        </v-container>
                        
            </v-app>
        </div>
        
        <script src="index.js"></script>
        <style>
            .action {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
            }

            #titre {
                font-size: 80px;
            }

            #titre2 {
                font-size: 30px;
            }

            html
            {
                overflow: hidden;
            }
        </style>
        
    </body>
</html>